<template lang="pug">
  #app img(src='./assets/logo.png') h1 Music SPA
  select(v-model="selectedCountry") option(v-for="country in countries"
  v-bind:value="country.value") {{ country.name }}
  spinner(v-show="loading") ul artist(v-for="artist in artists"
  v-bind:artist="artist" v-bind:key="artist.mbid")
</template>

<script>
import Artist from './components/Artist.vue'
import Spinner from './components/Spinner.vue'
import getArtists from './api'

export default {
  name: 'app',
  data () {
    return {
      artists: [],
      countries: [
        { name: 'España', value: 'spain'},
        { name: 'Colombia', value: 'colombia'},
        { name: 'Argentina', value: 'argentina'}
      ],
      selectedCountry: 'spain',
      loading: true
    }
  },
  components: {
    Artist,
    Spinner
  },
  methods: {
    refreshArtists() {
      const self = this
      this.loading = true
      this.artists = []
      getArtists(this.selectedCountry)
        .then(function(artists) {
          self.loading = false
          self.artists = artists
        })
    }
  }
  mounted() {

  },
  watch: {
    selectedCountry: function () {

    }
  }
}
</script>

<style lang="scss">
@import "./scss/main.scss";
</style>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1,
h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
